textarea{
  height:10em
}
.lightweight{
  font-weight: 100
}
.survey-edit{
  margin-left:5px
}
.forstatus{
  margin-left:5px
}
.flo{
  float: right
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
