<div class="jumbotron"><h2><i>{{srv.surveyName}}</i><a routerLink="/newquestion"><button type="button" class="btn btn-primary" style="float:right">+Add Question</button></a><br></h2></div>
<div class="container">
  <div>
  <form #frm1>
      <div class="table-responsive" style="float:right;width:45%;">
          <br><table class="table">
            <thead>
              <tr>
                  <th>Assigned Questions</th>
                  <th></th>
              </tr>
            </thead>

            <tbody>
               <!-- <div *ngFor="let survey of surveys">-->

                <tr *ngFor="let qs of assignedquestions;let i=index">
                  <td>{{qs['question']}}</td>
                  <!-- <td><input type="checkbox" name="qs{{i}}" value="{{qs['_id']}}"></td> -->
                  <td><button class='btn btn-danger btn-sm' (click)="deletequestion(qs['_id'])"><i class="fas fa-trash"></i></button></td>
                </tr>


              <!--</div>-->

            </tbody>

          </table>
          <!-- <button class="btn btn-danger" type="submit">Remove</button> -->

        </div>
  </form>
  <form  #frm (ngSubmit)='assignquestions(frm)'>
  <div class="table-responsive" style="width:45%;float:left;">
      <br><table class="table">
        <thead>
          <tr>
              <th>Available Questions</th>
              <th></th>
          </tr>
        </thead>

        <tbody>
           <!-- <div *ngFor="let survey of surveys">-->

            <tr *ngFor="let qs of activequestions;let i=index">
              <td><label for="qs{{i}}">{{qs['question']}}</label></td>
              <!-- <td><input type="checkbox" name="qs{{i}}"   (click)=" addquestion(qs['_id'])" id="qs{{i}}"></td> -->
              <!-- <td><button class="forchecked" type="button" name="qs{{i}}"   (click)=" addquestion(qs['_id'])" id="qs{{i}}">>></button></td> -->
              <td><button class="btn btn-sm forchecked" type="button" name="qs{{i}}"   (click)=" addquestion(qs['_id'])" id="qs{{i}}"><i class="fas fa-arrow-right arrow1"></i></button></td>
            </tr>
            <tr>
              <td></td>
              <!-- <td><button class="btn btn-success" type="submit">Assign</button></td> -->
            </tr>

          <!--</div>-->

        </tbody>

      </table>
      <!-- <button class="btn btn-success" type="submit" style='float:right;padding:5px;margin-right:50px '>Assign</button> -->

    </div>
  </form>
  </div>
  </div>
