<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<div>
 <a routerLink='/newquestion'><button class="btn btn-info">+New Question</button></a> 
</div><br>
    <table class="table table-hover table-responsive">
      <thead class="table-success">
        <tr >
            <th>Question</th>
            <th>Question Type</th>
            <th>Mandatory</th>
            <th>Question Status</th>
            <th>Answer Options</th>
            <th>Actions</th>
        </tr>
      </thead>
      <tbody>
 
  <tr *ngFor="let ques of questions">
    <td> {{ques.question}}</td>
    <td> {{ques.questionType}}</td>
    <td> {{ques.questionMandatory}}</td>
    <td> {{ques.questionStatus}}</td>
    <td> {{ques.answerOptions}}</td>
    <td><button class="btn btn-info btn-sm">Edit </button>
      <button class="btn btn-danger btn-sm question-edit" (click)="deleteQuestion(id)">Delete</button>
    </td>
  </tr>
    
 
</tbody>
</table>





  