<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<div  id="quest">
<div>
<a routerLink='/survey/newquestion'><button class="btn btn-info" style="margin-left:15px">+New Question</button></a> 
</div><br>
<div class="container">
    <table class="table table-hover table-responsive" >
      <thead class="table-success">
        <tr >
            <th>Question</th>
            <th>Question Type</th>
            <th>Mandatory</th>
            <th>Question Status</th>
            <th>Answer Options</th>
            <th>Actions</th>
        </tr>
      </thead>
      <tbody>
 
  <tr *ngFor="let ques of questions">
    <td> {{ques.question}}</td>
    <td> {{ques.questionType}}</td>
    <td> {{ques.questionMandatory}}</td>
    <td> {{ques.questionStatus}}</td>
    <td> {{ques.answerOptions}}</td>
    <td>
        <button class='btn btn-primary btn-sm question-edit' (click)="ed(ques)">Edit</button>
    <button class="btn btn-danger btn-sm question-edit" (click)="deleteQues(ques['_id'])">Delete</button>
    
    </td>
  </tr>
</tbody>
</table>
</div>
</div>
<!--Modal part-->

<!-- <div class="modal fade" id="myModal" role="dialog">
    
    <div class="modal-dialog">
        <form  name="frm" class="form-horizontal" #frm="ngForm" >
            <div class="options-form" *ngFor="let Form of FormSet let i=index">
      <!-- Modal content--
      <div class="modal-content" >
        <div class="modal-header">
          <h4 class="modal-title">Edit your question</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
  
        </div>
        <div class="modal-body" >
            
          <!-- <form class="form-group" #frm (ngSubmit)="editquestion(frm)"> --
              <label for="question" #question ><strong> Question:</strong></label><br>
               <div *ngIf="questions"> --
              <input type="text"  class="form-control" name="question" id="question" 
                  required #question><br>
              <div *ngIf="question.touched">
                <div  *ngIf="question.errors?.required" class="alert alert-danger">
                    Question is required
                </div>
              </div>
            
              <label for="mandatory" ><strong>Is it mandatory to answer this question:</strong></label><br>
              <input type="radio" id="mandatory" name="questionMandatory" value="yes"  class="forstatus" >Yes
              <input type="radio" id="mandatory" name="questionMandatory" value="no" class="forstatus">No<br>

              <label for="require"><strong>Status:</strong></label><br>
              <input type="radio" id="require" name="questionStatus" value="A"  class="forstatus" >Active
              <input type="radio" id="require" name="questionStatus" value="I" class="forstatus">Inactive<br>

               <div class="form-group row" >
                  <div class="col-sm-4" for="quesType">
                     <label><strong>Questipon Type</strong></label>
                       <select name = "questionType" class="form-control" [(ngModel)]="Form.type" id="quesType" required >
                        <option *ngFor="let type of questions_type" [ngValue]="type" >
                             {{type}}
                         </option>
                      </select>
                   </div>
                 </div> 
                 <div *ngIf="questionType=='OPT'||questionType=='OPT'||questionType=='CHK'")>
                 <div  *ngFor="let ans of questions.answerOptions">
                  
                  </div>
                </div>
                 
                   <div class="form-group row" *ngIf="Form.type ==='SLT'" for="select">
                     <div class="col-sm-3 form-block" *ngFor="let option of Form.options;let i = index">
                       <div class="input-group">
                         <input class="form-control option"  type="text" [(ngModel)]="option.name" name="select{{i}}" placeholder="Enter Options" id="select" required>
                           <span class="input-group-btn">
                            <button class="btn-md btn btn-danger" type="submit" (click)="removeOption(Form,i)"><i>-</i></button>
                             </span>
                       </div>
                     </div>
                     <div class="col-sm-3 form-block">
                      <button class="btn-success btn btn-md" (click)="addNewOptionForSelect(Form)"><i>+</i></button>
                     </div>
                     </div>
                       <div class="form-group row" *ngIf="Form.type ==='OPT'" for="sel_Opt">
                         <div class="col-sm-3 form-block" *ngFor="let choose of Form.chooses; let i = index">
                           <div class="input-group">
                            <input class="form-control option" type="text" [(ngModel)]="choose.name"  name="radio{{i}}" placeholder="Enter Options" id="sel_Opt" required>
                              <span class="input-group-btn">
                               <button class="btn-md btn btn-danger" type="submit" (click)="removeChoose(Form, i)"><i>-</i></button>
                               </span>
                             </div>
                             
                         </div>
                         <div class="col-sm-3 form-block">
                          <button class="btn-success btn btn-md" (click)="addNewOptionForOption(Form,choose)"><i>+</i></button>
                         </div>
                       </div>
                       <div class="form-group row" *ngIf="Form.type ==='CHK'" for="click">
                         <div class="col-sm-3 form-block" *ngFor="let choice of Form.choices;let i = index">
                           <div class="input-group">
                            <input class="form-control option" type="text" [(ngModel)]="choice.name" name="answerOptions{{i}}" placeholder="Enter Options" id="click" required>
                              <span class="input-group-btn">
                               <button class="btn-md btn btn-danger" type="submit" (click)="removeChoices(Form, i)"><i>-</i></button>
                              </span>
                           </div>
                           </div>
                           <div class="col-sm-3 form-block">
                             <button class="btn-success btn btn-md" (click)="addNewOptionForCheckbox(Form,choice)"><i>+</i></button>
                           </div>
                       </div>
                     </div>
                    </div>
                  </div>
                  
                      <button class="btn btn-success" type="button" (click)="updateQues(frm)">Update</button>
                    <button class="btn btn-info" type="button" data-dismiss="modal">Cancel</button>
                  
          </form>
          
        </div>
      
  </div>
</div> -->



  <div class="editpopup" id="editpopup">
    <app-questionpopup  *ngIf="loadComponent" [question]="editQuestion"></app-questionpopup>
  </div>
  <!-- [quescomp]="questions" -->


  