<div class="container">
    <div class="jumbotron">
  <div class="row" style="padding:24px">
    <div class="col-md-12">
      <form  name="OptionForm" class="form-horizontal" #OptionForm="ngForm" novalidate="" style="margin-top:35px">
              <div class="options-form" *ngFor="let Form of FormSet let i = index " >
                  <div class="form-group row">
                      <div class="col-sm-4">
                          <label>Your question in Text</label>
                          <input class="form-control" type="text" name="question" [(ngModel)]="Form.Question"  #ques="ngModel" placeholder="Enter your question" >
                      <div *ngIf="ques.touched"
                            class="alert alert-danger">
                            Please enter the Question!
                      </div>
                      </div>
                      <div class="col-md-12">
                          
                          <label class="control" required>Is it mandatory to answer this?</label>
                          <div class="radio" >
                              <label class="mr12">
                                  <input icheck="" type="radio" name="questionMandatory" value="yes" [(ngModel)]="Form.isMandatory" required #mandatory="ngModel"> YES
                              </label>
                              <label style="margin-left:10px">
                                  <input icheck="" type="radio" name="questionMandatory" value="no" [(ngModel)]="Form.isMandatory"> NO
                              </label>
                          </div>
                      </div>
                      <div class="col-sm-12">
                          <label>Status</label>
                          <div class="radio" >
                              <label class="mr12">
                                  <input icheck="" type="radio" name="questionStatus" value="A" [(ngModel)]="Form.active"> Active
                              </label>
                              <label style="margin-left:10px">
                                  <input icheck="" type="radio" name="questionStatustus" value="I" [(ngModel)]="Form.active"> Inactive
                              </label>
                          </div>
                      </div>
                    </div>
                  <div class="form-group row">
                      <div class="col-sm-4">
                          <label>Questipon Type</label>
                          <select name = "questionType" class="form-control" [(ngModel)]="Form.type">
                              <option *ngFor="let type of questions_type" [ngValue]="type">
                                {{type}}
                              </option>
                            </select>
                     </div>
                  </div>
                  
                  <div class="form-group row" *ngIf="Form.type ==='SLT'"> 
                      <div class="col-sm-3 form-block" *ngFor="let option of Form.options;let i = index">
                          <div class="input-group">
                              <input class="form-control" type="text" [(ngModel)]="option.name" name="answerOptions[{{i}}]" placeholder="Enter Options" >
                             <span class="input-group-btn">
                            <button class="btn-md btn btn-danger" type="submit" (click)="removeOption(Form,i)"><i>-</i></button>
                              </span>
                         </div>
                      </div>
                      <div class="col-sm-3 form-block">
                          <button class="btn-success btn btn-md" (click)="addNewOption(Form)"><i>+</i></button>
                      </div>
                  </div>
                  <div class="form-group row" *ngIf="Form.type ==='OPT'">
                      <div class="col-sm-3 form-block" *ngFor="let choose of Form.chooses; let i = index">
                          <div class="input-group">
                              <input class="form-control" type="text" [(ngModel)]="choose.name"  name="answerOptions{{i}}" placeholder="Enter Options" >
                              <span class="input-group-btn">
                             <button class="btn-md btn btn-danger" type="submit" (click)="removeChoose(Form, i)"><i>-</i></button>
                             </span>
                          </div>
                      </div>
                     <div class="col-sm-3 form-block">
                          <button class="btn-success btn btn-md" (click)="addNewOption2(Form,choose)"><i>+</i></button>
                      </div>
                  </div>
                  <div class="form-group row" *ngIf="Form.type ==='CHK'">
                      <div class="col-sm-3 form-block" *ngFor="let choice of Form.choices;let i = index">
                          <div class="input-group">
                              <input class="form-control" type="text" [(ngModel)]="choice.name" name="answerOptions{{i}}" placeholder="Enter Options" >
                              <span class="input-group-btn">
                             <button class="btn-md btn btn-danger" type="submit" (click)="removeChoices(Form, i)"><i>-</i></button>
                             </span>
                          </div>
                      </div>
                      <div class="col-sm-3 form-block">
                          <button class="btn-success btn btn-md" (click)="addNewOption1(Form,choice)"><i>+</i></button>
                      </div>
                  </div>
                 <!-- <div class="form-group row" *ngIf="Form.type ==='Boolean'">
                      <input icheck="" type="radio" name="status1" value="true" [(ngModel)]="Form.true">True
                      <input icheck="" type="radio" name="status2" value="false" [(ngModel)]="Form.false">False
                  </div>
  
                  <button type="button" class="btn-danger btn btn-md" (click)="removeForm($index)">
                      <i>-</i> Remove Form
                  </button> -->
                  
              </div>
              <div style="margin-top:10px;margin-right:600px">
                <button type="button" class="btn-success btn btn-md" (click)="addForm()">
                    <i>+</i> Add Form
               </button>
            </div>
              <div>
                <input type="submit" value="Submit" class="btn btn-primary" (click)="submitForm(OptionForm)">
            </div>
          </form>
          
    <!-- <div class="form-group row text-right" style="margin: 0;">
              <div class="col-sm-12 add-form">
                  <p (click)='addForm()'><i>+</i> Add More</p>
              </div>
          </div> -->
          
        </div>

  </div>
  </div>
  </div>
