          <div class="container" >
              <div class="col-md-9" >
              <div class="jumbotron">
                <form class="form-horizontal" >     
                    <div class="form-group" >
                       
                            <input type="checkbox" checked>  here by i declared that the survey done by myself with my perception
                        <div class="next"><br><br>
                                <button class="btn btn-primary" (click)="addUser(frm)">SUBMIT</button>
                
                          </div>
                    </div>
                                
                  </form>
              </div>
          </div>
          </div>
        