<html>
  <head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
  </head>
<body id="LoginForm">
<div class="container">

<div class="login-form">
<div class="main-div">
    <div class="panel">
   <h2>Admin Login</h2>
   <p>Please enter your Username and password</p>
   </div>
    <form id="Login" #frm="ngForm">
        <div class="form-group">
            <label for="userName"></label>
                <input type="text"   
                name="userName" 
                class="form-control"
                ngModel 
                required 
                #user_name="ngModel" placeholder="*Username">
             </div>
               <div *ngIf="user_name.touched">
                   <div *ngIf="user_name.errors?.required"  class="alert alert-danger">
                 Username is required!
               </div>               
             </div>

             <div class="form-group">
                  <label for="password">
                  </label>
                  <input type="password" 
                  name="password" 
                  class="form-control" 
                  ngModel 
                  #password="ngModel" 
                  required 
                  placeholder="*Password">
                  </div>
                  <div *ngIf="password.touched">    
                    <div *ngIf="password.errors?.required" class="alert alert-danger">
                        Password is required!
                    </div>                   
                    </div>         
        <a routerLink="/survey/surveyList" ><button type="submit" name="button" class="btn btn-dark" [disabled]="frm.invalid" (click)="submitForm(frm)">Login</button></a><br>
        <!-- <a routerLink="signup"><span>New to Survey? Sign up</span></a> -->
    </form>
    </div>
</div></div>
</body>
</html>
<footer class="sticky-footer" style="margin-left:-  10px">
    <div class="container my-auto">
      <div class="copyright text-center my-auto" >
        <span>Copyright © Website 2018</span>
      </div>
    </div>
  </footer>