<html>
  <head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  </head>
<body id="PasswordForm">
<div class="container">

<div class="password-form">
<div class="main-div">
    <div class="panel">
   <h2>Change Password</h2>
   </div>
    <form id="Password" #frm="ngForm">
      
      <div class="form-group pass_show"> <label for="oldPassword"></label>
        <input type="password" 
        name="oldPassword" 
        class="form-control" 
        ngModel 
        #password="ngModel" 
        required 
        placeholder="Current Password">
        
        <div *ngIf="password.touched">    
          <div *ngIf="password.errors?.required" class="alert alert-danger">
              Password is required!
          </div>                   
          </div>
        </div>
         
          <div class="form-group pass_show"> <label for="newPassword"></label>
            <input type="password" 
            name="newPassword" 
            class="form-control" 
            ngModel 
            #n_password="ngModel" 
            required 
            placeholder="New Password">
            
            <div *ngIf="n_password.touched">    
              <div *ngIf="n_password.errors?.required" class="alert alert-danger">
                  Password is required!
              </div>                   
              </div> 
          </div> 
         
          <div class="form-group pass_show"> <label for="confirmpassword"></label>
            <input type="password" 
            name="confirmpassword" 
            class="form-control" 
            ngModel 
            #c_password="ngModel" 
            required 
            placeholder="Confirm Password">
            
            <div *ngIf="c_password.touched">    
              <div *ngIf="c_password.errors?.required" class="alert alert-danger">
                  Password is required!
              </div>                   
              </div>
          </div>         
        <a routerLink="/" ><button type="submit" name="button" class="btn btn-dark" [disabled]="frm.invalid" (click)="submitForm(frm)">Save</button></a>
    </form>
    </div>
</div></div>
</body>
</html>