<html>

<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body id="PasswordForm">
  <div class="container">

    <div class="password-form">
      <div class="main-div ">


        <form id="Password" #frm="ngForm">
          <div class="col-md-12">
              <div class="col-md-6">
                  <h2>Change Password</h2>
                </div>

            <div class="form-group pass_show"> <label for="oldPassword"></label>
              <input type="password" name="oldPassword" class="col-md-6 form-control" ngModel #password="ngModel"
                required placeholder="Current Password">

              <div *ngIf="password.touched" class="col-md-6">
                <div *ngIf="password.errors?.required" class="alert alert-danger">
                  Password is required!
                </div>
              </div>
            </div>

            <div class="form-group pass_show"> <label for="newPassword"></label>
              <input type="password" name="newPassword" class="col-md-6  form-control" ngModel #n_password="ngModel"
                required validateEqual="confirmpassword" reverse="true" placeholder="New Password">
              <div *ngIf="n_password.touched" class="col-md-6">
                <div *ngIf="n_password.errors?.required" class="alert alert-danger">
                  Password is required!
                </div>

              </div>
            </div>

            <div class="form-group pass_show"> <label for="confirmpassword"></label>
              <input type="password" name="confirmpassword" class="col-md-6 form-control" ngModel #c_password="ngModel"
                required validateEqual="newPassword" reverse="false" placeholder="Confirm Password" validateEqualTo="n_password">

              <div *ngIf="c_password.touched" class="col-md-6">
                <div *ngIf="c_password.errors?.required" class="alert alert-danger">
                  Password is required!
                </div>
              </div>

              <div *ngIf="c_password.touched" class="col-md-6">
                <div *ngIf="c_password.errors?.notEqual" class="alert alert-danger">
                  Password is not matching
                </div>
              </div>
            </div>
            <!-- <div class="form-group">
              <label for="newPassword"></label>
              <input type="password" class="form-control" name="newPassword" ngModel
                required validateEqual="confirmPassword" reverse="true" #password="ngModel">
              <small [hidden]="newPassword.valid || (newPassword.pristine && !f.submitted)" class="text-danger">
                Password is required
              </small>
              
            </div>
            <div class="form-group">
              <label for="confirmPassword">Retype password</label>
              <input type="password" class="form-control" name="confirmPassword" ngModel
                required validateEqual="password" reverse="false" #confirmPassword="ngModel">
              <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
                Password mismatch
              </small>
              
            </div>           -->
            <div class="col-md-6">
                <a routerLink="/survey/changepassword"><button type="submit" name="button" class="btn btn-dark" [disabled]="frm.invalid"
                  (click)="submitForm(frm)">Save</button></a>
              </div>

            
          </div>
        </form>

      </div>
    </div>
  </div>
</body>

</html>